name: Deploy

on:
  push:
    branches:
      - main

jobs:
  extract-version:
    name: "Extract version"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Extract version from last commit message
        run: |
          COMMIT_MSG=$(git log -1 --pretty=%B)
          if [[ $COMMIT_MSG =~ (v[0-9]+\.[0-9]+\.[0-9]+) ]]; then
            TAG="${BASH_REMATCH[1]}"
            VERSION="${TAG#v}"
            echo "tag=$TAG" >> $GITHUB_OUTPUT
            echo "version=$VERSION" >> $GITHUB_OUTPUT
          else
            echo "No version pattern found in latest commit message. Skipping."
            exit 0
          fi

  prepare-release:
    name: "Prepare release"
    needs: extract-version
    if: needs.extract-version.outputs.version != ''
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Update extension version
        run: |
          jq --arg version "${{ needs.extract-version.outputs.version }}" '.version = $version' package.json > package.json.tmp && mv package.json.tmp package.json
      - name: Push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Release ${{ needs.extract-version.outputs.tag }}"
          git tag ${{ needs.extract-version.outputs.tag }}
          git push origin main && git push origin main --tags

  deploy:
    name: Deploy
    needs: prepare-release
    if: needs.prepare-release.result == 'success'
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
      - name: Build
        run: |
          corepack enable
          yarn install
          yarn build
      - name: Publish
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
        run: yarn publish
      - name: Create new release
        uses: ncipollo/release-action@v1
        with:
          artifacts: ${{ env.EXT_FILE }}
